<?xml version="1.0" encoding="utf-8"?>


<launch>

  <!-- Launching Gazebo and the Omni Cobot -->

    <include file="$(find mbot_simulation)/launch/omni_cobot_gazebo.launch"/>
  


  <!-- Launching joy and the drivers -->
  
    <node name="joy" pkg="joy" type="joy_node">
      <param name="dev" value="/dev/input/js1" type="string" />
    </node>

    <rosparam file="$(find maps)/../config/scout.yaml" command="load"/>

    <node name="joydrive" pkg="omni_odometry" type="joydrive" respawn="true"/>

    <param name="x_init" value="0" type="double" />
    <param name="y_init" value="0" type="double" />
    <param name="theta_init" value="0" type="double" />

</launch>
