<?xml version="1.0" encoding="utf-8"?>


<launch>

  <!-- Launching Gazebo -->

    <include file="$(find mbot_simulation)/launch/omni_cobot_gazebo.launch"/>

    <node name="odom_broadcaster" pkg="mbot_simulation" type="odom_broadcaster"/>

    <node pkg="tf" type="static_transform_publisher" name="tf_hacker" args="0 0 0 0 0 0 /map /odom 33.33"/>

  
  <!-- Launching amcl, joy and the drivers -->

    <arg name="use_move_base" default="false"/>  
    <arg name="map" default="$(find mbot_simulation)/maps/at_home_testbed.yaml"/>
    
    <node name="map_server" pkg="map_server" type="map_server" args=" $(arg map)" required="true">
      <param name="frame_id" value="/map" />
    </node>

    <include file="$(find maps)/../launch/mbot/amcl_simulation.launch"/>
 
    <!-- Navigation -->
    <param name="map" value="$(arg map)"/>

    <group unless="$(arg use_move_base)">
      <node name="navigation" pkg="scout_navigation" type="navigator">
        <param name="guidance_method" type="string" value="fmm"/>
	<param name="platform_mode" value="omni"/>
	<remap from="/scan" to="/rrbot/laser/scan"/>
      </node>
    </group>
    <group if="$(arg use_move_base)">
      <include file="$(find maps)/../launch/move_base_sim.launch"/>

      <node name="navigation" pkg="scout_navigation" type="navigator" output="screen">
        <param name="guidance_method" type="string" value="move_base"/>
	<param name="laser_frame" value="/hokuyo_link"/>
      </node>
    </group>

    <!--node name="behaviors" pkg="mbot_simulation" type="behaviors_test.py"/-->

    <node name="webconsole" pkg="webconsole" type="server">
      <remap from="/scan" to="/rrbot/laser/scan"/>
    </node>

    <!--node name="bag" pkg="rosbag" type="record" args="/cmd_vel /omni_cobot/scout_body_to_back_wheel_joint_controller/command /omni_cobot/scout_body_to_right_wheel_joint_controller/command /omni_cobot/scout_body_to_left_wheel_joint_controller/command"/-->

</launch>
