<?xml version="1.0"?>
<launch>

    <!-- set the desired mbot world -->
    <arg name="world_name" default="$(find mbot_simulation_environments)/worlds/stage_ISR_6thfloor.world"/>

    <!-- argument to enable arm simulation (not supported yet, always leave in false) -->
    <arg name="arm_required" value="false"/>
  
    <!-- Launch Gazebo server and client with the specified world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="0" />
        <arg name="gui" value="true" />
        <arg name="use_sim_time" value="true" />
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="paused" value="false"/>
    </include>

    <!-- PID gains for the gazebo plugin -->
    <rosparam param="/gazebo_ros_control/pid_gains">
        front_left_wheel:
            p: 1 
            i: 0
            d: 0.1
        front_right_wheel:
            p: 1
            i: 0
            d: 0.1
        rear_left_wheel:
            p: 1
            i: 0
            d: 0.1
        rear_right_wheel:
            p: 1
            i: 0
            d: 0.1
    </rosparam>

    <!-- spawn mbot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model mbot -param robot_description -x 0.0 -y 0.0 -z 0.8" />

    <!-- mbot head simulation (neck control) -->
    <include file="$(find mbot_head_controller_gazebo)/ros/launch/mbot_head_control.launch" />

    <!-- mbot wheel tf >
    <include file="$(find mbot_bringup_sim)/ros/launch/control.launch" /-->

    <!-- mbot head pan format conversion node -->
    <include file="$(find mbot_head_controller_gazebo)/ros/launch/mbot_head_pan_interface.launch" />

    <!-- run common components with real robot -->
    <include file="$(find mbot_bringup)/ros/launch/components/real_sim_common_components.launch" />
    
</launch>
