<?xml version="1.0"?>

<model>
  <name>RoCKIn testbed (as D2.1.3)</name>
  <version>1.0</version>
  <sdf version='1.4'>model_split.sdf</sdf>

  <author>
    <name>Rodrigo Ventura</name>
    <email>rodrigo.ventura@isr.tecnico.ulisboa.pt</email>
  </author>

  <maintainer email="olima@isr.tecnico.ulisboa.pt">Oscar Lima</maintainer>

  <description>
    RoCKIn testbed according to the project deliverable D2.1.3.
  </description>
</model>
