<?xml version="1.0"?>
<launch>

    <!-- to switch arm sim from trajectory controller to velocity controller during runtime -->
    
    <!-- unspawn arm sim trajectory controller -->
    <node pkg="controller_manager" type="unspawner" name="traj_ctrl_unspawner" args="left_arm_traj_controller" />

    <!-- spawn arm sim velocity controller -->
    <node pkg="controller_manager" type="spawner" name="pos_ctrl_spawner"
          args="left_arm_joint0_velocity_controller
                left_arm_joint1_velocity_controller
                left_arm_joint2_velocity_controller
                left_arm_joint3_velocity_controller
                left_arm_joint4_velocity_controller
                left_arm_joint5_velocity_controller
                left_arm_joint6_velocity_controller" />

</launch>
