<?xml version="1.0"?>

<launch>
        <param name="use_sim_time" type="bool" value="true" />
        <node pkg="stage_ros" type="stageros" name="stageros" args=" $(find mbot_simulation)/config/mbot_ISR_6thfloor.world">
            <remap from="base_scan" to="scan" />
        </node>
        <node pkg="tf" type="static_transform_publisher" name="odom_tf_publisher" args="0 0 0 0 0 1.0 0.0 /stage_odom /lrf01 100"/> 
        <node pkg="tf" type="static_transform_publisher" name="hokuyo_tf_publisher" args="0 0 0 0 0 0 /base_laser_link /lrf01 100"/> 
	<arg name="map" default="$(find maps)/isr6-v03cr.yaml"/>
        <arg name="use_move_base" default="true"/>

	<param name="map" type="string" value="$(arg map)"/>
	<param name="shape" type="string" value="$(find config)/mbot_shape-1px_1mm-c336_236.yaml"/>
	<rosparam file="$(find config)/mbot.yaml"/>

        <!-- LIDAR position -->
	<!-- node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.17 0 0 0 0 0 /base_link /laser_frame 100" required="true" / -->

        <!-- LIDAR node -->
	<!-- node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" required="true" output="screen">
		<param name="port" type="string" value="/dev/ttyACM0"/>
                <param name="frame_id" type="string" value="/laser_frame"/>
	</node -->
	
	<!-- Motion nodes -->
        <!-- include file="motion.launch"/ -->

	<!-- Run the map server -->
	<node name="map_server" pkg="map_server" type="map_server" args=" $(arg map)" required="true">
            <param name="frame_id" value="/map" />
        </node>
    
	<!--- AMCL -->
        <include file="$(find config)/../launch/mbot/amcl.launch"/>
        <!-- node pkg="amcl" type="amcl" name="amcl">
          <param name="odom_model_type" value="omni"/>
          <param name="odom_frame_id" value="/odom"/>
          <param name="global_frame_id" value="/map"/>
        </node -->

	<!-- Navigation -->
        <group unless="$(arg use_move_base)">
            <node name="navigation" pkg="scout_navigation" type="navigator">
		<param name="~guidance_method" type="string" value="fmm"/>
		<param name="~platform_mode" type="string" value="omni"/>
	    </node>
        </group>
        <group if="$(arg use_move_base)">
            <include file="$(find config)/../launch/mbot/move_base.launch"/>
	    <!--node name="navigation" pkg="scout_navigation" type="navigator" output="screen">
		<param name="~guidance_method" type="string" value="move_base"/>
		<param name="~platform_mode" type="string" value="omni"/>
	    </node-->
        </group>       

</launch>
