<?xml version="1.0"?>
<launch>

    <!-- load position controllers for mbot neck and head camera (tilt camera on top of mbot head) -->
    <rosparam file="$(find mbot_head_controller_gazebo)/ros/config/head_control.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args="joint_state_controller
                                mbot_head_position_controller
                                mbot_head_camera_position_controller"/>

    <!-- suscribe to cmd_head std_msgs/UInt8MultiArray (with position/velocity info)
         and republish to gazebo command topic on the form std_msgs/Float64 (position only) -->
    <node pkg="mbot_head_controller_gazebo" type="mbot_head_pan_controller" name="mbot_head_pan_node" output="screen" />

</launch>
